{% extends 'base.html' %}

{% block content %}

    <div class="post-wrapper">
        <div class="switch">
            <label class="tgl-btn" for="toggle1">
                <input type="checkbox" id="toggle1" class="tgl">
                <span class="tgl-content"></span>
                <span class="tgl-circle"></span>
            </label>
        </div>
        <div class="container post-contents" id="post_list">
            <div class="row">
                {% for post in posts %}
                <div class="col-10 col-md-6 col-lg-4 post-card">
                    <a href="{% url 'myapp:post_detail' pk=post.pk %}">
                        <div class="post-col">
                            <div class="photo-wrapper">
                                <img src="{{ post.thumb.url }}" class="photo-prv">
                            </div>
                            <div class="text-wrapper">
                                <h1>{{ post.title }}</h1>
                                {{ post.event_date|date:"Y/m/d" }}
                            </div>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>

        <div class="container post-contents" id="sorted_post_list">
            <div class="row">
                {% for post in sorted_posts %}
                <div class="col-10 col-md-6 col-lg-4 post-card">
                    <a href="{% url 'myapp:post_detail' pk=post.pk %}">
                        <div class="post-col">
                            <div class="photo-wrapper">
                                <img src="{{ post.thumb.url }}" class="photo-prv">
                            </div>
                            <div class="text-wrapper">
                                <h1>{{ post.title }}</h1>
                                {{ post.event_date|date:"Y/m/d" }}
                            </div>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
        <p class="archive"><a href="{% url 'myapp:post_archive' %}">→Archive</a></p>
    </div>

{% endblock %}

{% block extrajs %}
<script>
    $('#toggle1').change(function(){
        $('#sorted_post_list').toggle();
        $('#post_list').toggle();
    });
</script>

{% endblock %}