{% extends 'base.html' %}

{% block content %}
  <div class="post">
    {% if post.published_date %}
      <div class="date">
          {{ post.published_date }}
      </div>
    {% endif %}

    <h1>{{ post.title }}</h1>
    <div class="container post-text">
      <div class="row">
        <div class="col-md-4 col-10">
          <img id="img"  class="photo-prv">
          <p>Flyer:<a id="pdf" target="_blank">Download</a></p>
        </div>
        <div class="col-md-6 col-12">
            <table class="table table-borderd">
              <tr>
                <th>開催日</th><td id="date">{{ post.event_date }} {{ post.event_time }}</td>
              </tr>
              <tr>
                <th>開催場所</th><td><p id="venue">{{ post.venue }}</p></td>
              </tr>
              <tr>
                <th>参加費</th><td id="fee">{{ post.fee }}</td>
              </tr>
              <tr>
                <th>予約</th><td id="registr">{{ post.registration }}</td>
              </tr>
              <tr>
                <th>言語</th><td id="lang">{{ post.lang }}</td>
              </tr>
              <tr>
                <th>主催</th><td><p id="host">{{ post.host|linebreaksbr }}</p></td>
              </tr>
            </table>
            <p id="text">{{ post.text|linebreaksbr }}</p>
        </div>
      </div>
    </div>


  </div>
{% endblock %}
