{% extends 'testapp/based.html' %}

{% block content %}
    <div class="popup-overlay">
        <!--Creates the popup content-->
        <div class="popup-content">
            <h2 id="title"></h2>
            <p id="date"></p>
            <!--popup's close button-->
            <button class="close">Close</button>
        </div>
    </div>
    <h2>記事一覧</h2>
    <p id="botan">botan</p>
    <div id="myposts" class="row">
        {% for post in posts %}
            <div class="box" id="ajax-detail-post">
                <p class="pkey" style="display:none;">{{ post.pk }}</p>
                <p>{{ post.title }}</p>
                <p class="date">{{ post.date|date:"Y/m/d" }}</p>
            </div>
        {% endfor %}
    </div>

    <hr>

    <h2>記事の追加</h2>
    <form id="ajax-add-post" action="{% url 'testapp:ajax_post_add' %}" method="POST">
        <input type="text" id="id_title" required>
        <input type="date" id="id_date" required>
        <button type="submit" >送信</button>
        {% csrf_token %}
    </form>


{% endblock %}

{% block extrajs %}
    <script>

        $('#ajax-add-post').on('submit', e => {
            e.preventDefault();
            $.ajax({
                'url': '{% url "testapp:ajax_post_add" %}',
                'type': 'POST',
                'data': {
                    'title': $('#id_title').val(),  // 記事タイトル
                    'date': $('#id_date').val(),
                },
                'dataType': 'json'
            }).done( response => {
                const p = $('<p>', {text: response.title});
                $('#posts').prepend(p);
                $('#id_title').val('');
            });
        });

        $('.box').on('click', function(e) {
            e.preventDefault();
            $(".popup-overlay, .popup-content").addClass("active");
            $.ajax({
                'url': '{% url "testapp:ajax_post_detail" %}',
                'type': 'GET',
                'data': {
                    'pk': $(this).find('.pkey').text(),
                },
                'dataType': 'json'
            }).done( response => {
                $('#title').text(response.title).hide().fadeIn();
                $('#date').text(response.date).hide().fadeIn();

            });

        });

        $(".close, .popup-overlay").on("click", function(){
            $(".popup-overlay, .popup-content").removeClass("active");
            $('#title').text('');
            $('#date').text('');
        });
    </script>


{% endblock %}