{% extends 'testapp/based.html' %}

{% block content %}
    <h2>記事一覧</h2>
    <p id="botan">botan</p>
    <div id="myposts">
        {% for post in posts %}
            <div class="post-card">
                <p>{{ post.title }}</p>
                <p class="date">{{ post.date|date:"Y/m/d" }}</p>
            </div>
        {% endfor %}
    </div>

    <hr>

    <h2>記事の追加</h2>
    <form id="ajax-add-post" action="{% url 'testapp:ajax_post_add' %}" method="POST">
        <input type="text" id="id_title" required>
        <input type="date" id="id_date" required>
        <button type="submit" >送信</button>
        {% csrf_token %}
    </form>

{% endblock %}

{% block extrajs %}
    <script>
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        var csrftoken = getCookie('csrftoken');

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });



        // 送信ボタンで呼ばれる
        $('#ajax-add-post').on('submit', e => {
            // デフォルトのイベントをキャンセルし、ページ遷移しないように!
            e.preventDefault();

            $.ajax({
                'url': '{% url "testapp:ajax_post_add" %}',
                'type': 'POST',
                'data': {
                    'title': $('#id_title').val(),  // 記事タイトル
                    'date': $('#id_date').val(),
                },
                'dataType': 'json'
            }).done( response => {
                // <p>はろー</p>のような要素を作成し、それを記事一覧エリアに追加し、入力欄をクリアする。
                const p = $('<p>', {text: response.title});
                $('#posts').prepend(p);
                $('#id_title').val('');
            });

        });

        var post_list = [
            {% for post in posts %}
                {
                    "title": "{{ post.title }}",
                    "date": "{{ post.date|date:"Y/m/d" }}",
                },
            {% endfor %}
        ];

        let sort_post = post_list.sort(compare('date'))

        $(function(){
            $('#botan').click(function(){
                $('#myposts').empty();
                for (const post of sort_post) {
                    $('#myposts').append('<div class="test"><p>' + post.title +'</p><p>' + post.date + '</p></div>');
                };
            });
        });

    </script>


{% endblock %}